fastapi
torch==2.8.0
torchaudio==2.8.0
transformers>=4
python-multipart
uvicorn
hydra-core
omegaconf
pyannote.audio
sentencepiece
soundfile
scipy

# See requirements-dev.txt for test and lint dependencies